@font-face {
    font-family: 'URW Geometric';
    src: url(../fonts/URWGeometric-Regular.woff2),
    url(/../fonts/URWGeometric-Regular.woff);
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'URW Geometric';
    src: url(../fonts/URWGeometric-Bold.woff2),
    url(/../fonts/URWGeometric-Bold.woff);
    font-weight: bold;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'URW Geometric';
    src: url(../fonts/URWGeometric-Heavy.woff2),
    url(/../fonts/URWGeometric-Heavy.woff);
    font-weight: 850;
    font-display: swap;
    font-style: normal;
}

@font-face {
  font-family: 'URW Geometric';
  src: url(../fonts/URWGeometric-Black.woff2),
  url(/../fonts/URWGeometric-Black.woff);
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
