@import 'null';
@import 'fonts';
@import 'libs';
@import 'mobile';

body {
    font-family: 'URW Geometric';
    font-size: 16px;
    background-color: #fff;
}

.conteiner {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 20px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.header__menu-list {
    font-size: 18px;
    color: #333399;

    & ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & li {
        margin-right: 60px;
        cursor: pointer;
    }

    & li:last-child {
        margin-right: 0px;
    }

    & li:hover {
        color: #00CC99;
    }
}

.header__content {
    background-image: url(../images/illustration.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.header__content-text {
    padding-top: 112px;
    width: 620px;
    color: #000099;

    & h2 {
        font-weight: bold;
        font-size: 52px;
        line-height: 60px;
        
    }

    & span {
        color: #00CC99;
    }

    & p {
        width: 555px;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
    }
}

.header__content-btn {
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
    padding-bottom: 250px;

    & button {
        border-color: #00CC99;
        padding: 16px 24px;
        background-color: #00CC99;
        color: #fff;
        border-radius: 13px;
    }
}

.screen__1-wrap {
    margin-top: 190px;
    color: #000099;

    & h2 {
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        width: 955px;
        text-align: center;
        margin: 0px 82px;
    }

    & span {
        color: #00CC99;
    }
}

.screen__1-wrap-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 130px;
}

.screen__1-wrap-content-text {
    
    font-size: 18px;
    padding-right: 65px;

    & p {
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        text-align: left;
        width: 228px;
    }
}

.screen__1-wrap-content-text:last-child {
    padding-right: 0px;
}

.screen__1-wrap-content-icon {
    padding-bottom: 28px;
}

.screen__2 {
    background-image: url(../images/info.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.screen__2-wrap {
    position: relative;
    left: 45%;
    align-items: center;
    padding-top: 415px;
    padding-bottom: 170px;
    width: 570px;

    & h2 {
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        color: #000099;
    }

    & span {
        color: #00CC99;
    }
}

.screen__3-wrap {
    margin-top: 160px;

    & h2 {
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        color: #000099;
        text-align: center;
    }
}

.screen__3-wrap-content {
    margin-top: 120px;
}

.screen__3-wrap-content-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen__3-wrap-content-wrap-number {
    font-weight: 850;
    font-size: 58px;
    line-height: 79px;
    color: #00CC99;
    margin-right: 60px;
    position: relative;
    margin-bottom: 120px;

    &::after {
        position: absolute;
        left: 25px;
        top: 100px;
        content: url(../images/Line14.jpg);
    }
        
}

.screen__3-wrap-content-wrap-number-last {
    font-weight: 850;
    font-size: 58px;
    line-height: 79px;
    color: #00CC99;
    margin-right: 60px;
    margin-bottom: 120px;
}

.screen__3-wrap-content-wrap-text {
    color: #333399;

    & h3 {
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
    }

    & p {
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        width: 730px;
    }
}

.screen__3-wrap-btn {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    margin-top: 120px;
    margin-bottom: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & button {
        border-color: #00CC99;
        padding: 16px 24px;
        background-color: #00CC99;
        color: #fff;
        border-radius: 13px;
    }
}

.screen__4 {
    background-color: #F5F9FF;
}

.screen__4-wrap {
    padding-top: 160px;
    color: #000099;
}

.screen__4-wrap-title {
    & h2 {
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        text-align: center;
        width: 870px;
        margin: 0px 125px;
        
    }

    & span {
        position: relative;
        left: 42%;
        width: 200px;
        padding: 0px 100px;
        border-bottom: 1px solid #000099;
    }

    & p {
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        padding-top: 28px;
        text-align: center;
        width: 560px;
        margin: 0px 280px;
    }
}

.screen__4-wrap-content {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 160px;
}

.screen__4-wrap-content-block {
    width: 350px;
    padding: 40px 40px;
    align-self: flex-start;
    border: 1px solid #333399;
    border-radius: 15px;
    background-color: #fff;
    margin-right: 30px;

    &:last-child {
        margin-right: 0px;
    }

    &-icon {
        margin-bottom: 20px;
    }

    & h3 {
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
    }

    & p {
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
    }
}

.screen__5-wrap-title {
    margin-top: 160px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000099;

    & h2 {
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        text-align: center;
        width: 870px;
    }

    & span {
        width: 200px;
        padding: 0px 100px;
        border-bottom: 1px solid #000099;
    }

    & p {
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        padding-top: 28px;
        text-align: center;
        width: 440px;
    }
}

.screen__5-wrap-content {
    margin-bottom: 160px;
}

.screen__5-wrap-content-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;

    &:last-child {
        margin-bottom: 0px;
    }
}

.screen__5-wrap-content-block-img-mob {
    display: none;
}

.screen__5-wrap-content-block-text {
    width: 430px;
    color: #000099;

    & h3 {
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 16px;
    }

    & p {
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
    }
}

.screen__6-wrap-title {
    padding-top: 160px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000099;

    & h2 {
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        text-align: center;
        width: 870px;
    }

    & span {
        width: 200px;
        padding: 0px 100px;
        border-bottom: 1px solid #000099;
    }

    & p {
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        padding-top: 28px;
        text-align: center;
        width: 560px;
    }
}

.screen__6-wrap-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen__6-wrap-content-block-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
    padding: 60px 60px;
    background-color: #fff;
    border: 1px solid rgba(51, 51, 153, 0.2);
    border-radius: 23px;
}

.screen__6-wrap-content-block-1-title {
    text-align: center;
    color: #000099;

    & h2 {
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        margin-bottom: 30px;
    }

    & span {
        font-weight: 900;
        font-size: 67px;
        line-height: 60px;
        color: #00CC99;
    }

    & h3 {
        padding-bottom: 30px;
        margin-bottom: 50px;
        border-bottom: 1px solid #00CC99;
        width: 240px;
    }
}

.screen__6-wrap-content-block-1-text {

    & ul {
        color: rgba(51, 51, 153, 0.2);
        margin-left: -75px;
    }
}

.screen__6-wrap-content-block-1-text-other {
    margin-bottom: 20px;

    &::before {
        position: relative;
        top: 7px;
        margin-right: 13px;
        content: url(../images/close.svg);
    }
}

.screen__6-wrap-content-block-1-text-first {
    color: #333399;
    margin-bottom: 20px;

    &::before {
        position: relative;
        top: 7px;
        margin-right: 13px;
        content: url(../images/check.svg);
    }
}

.screen__6-wrap-content-block-1-btn {
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;

    & button {
        border-color: #00CC99;
        padding: 16px 24px;
        background-color: #00CC99;
        color: #fff;
        border-radius: 13px;
    }
}

.screen__6-wrap-content-block-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 60px;
    background-color: #fff;
    border: 1px solid rgba(51, 51, 153, 0.2);
    border-radius: 23px;
}

.screen__6-wrap-content-block-2-title {
    text-align: center;
    color: #000099;

    & h2 {
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        margin-bottom: 30px;
    }

    & span {
        font-weight: 900;
        font-size: 67px;
        line-height: 60px;
        color: #00CC99;
    }

    & h3 {
        padding-bottom: 30px;
        margin-bottom: 50px;
        border-bottom: 1px solid #00CC99;
        width: 240px;
    }
}

.screen__6-wrap-content-block-2-text {

    & ul {
        color: #333399;
        margin-left: -75px;
    }

    & li {
        margin-bottom: 20px;
    }

    & li::before {
        position: relative;
        top: 7px;
        margin-right: 13px;
        content: url(../images/check.svg);
    }
}

.screen__6-wrap-content-block-2-btn {
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;

    & button {
        border-color: #00CC99;
        padding: 16px 24px;
        background-color: #00CC99;
        color: #fff;
        border-radius: 13px;
    }
}

.screen__6-wrap-plan {
    margin-top: 30px;
    position: relative;
    left: 120px;
    padding-bottom: 160px;

    & p {
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: #333399;
    }
}

.screen__7-wrap-title {
    padding-top: 160px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000099;

    & h2 {
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        text-align: center;
        width: 870px;
    }
}

.screen__7-wrap-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 160px;
}

.screen__7-wrap-content-img {
    margin-right: 100px;
}

.screen__7-wrap-content-form {
    width: 440px;
}

.form-group {
    margin-bottom: 40px;

    & label {
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: #333399;
    }

    & input {
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        width: 440px;
        height: 67px;
        border-color: #333399;
        border-radius: 12px;
    }

    & input::-moz-placeholder {
        color: rgba(51, 51, 153, 0.2);
    }

    & input::-webkit-input-placeholder {
        color: rgba(51, 51, 153, 0.2);
    }

    & textarea {
        width: 440px;
        height: 67px;
        resize: none;
        border-color: #333399;
        border-radius: 12px;
    }

}

.screen__7-wrap-content-form {
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;

    & button {
        border-color: #00CC99;
        padding: 16px 24px;
        background-color: #00CC99;
        color: #fff;
        border-radius: 13px;
    }
}

.screen__7-wrap-content-form-text {
    margin-top: 30px;
    color: #333399;

    & h3 {
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        width: 407px;
    }

    & span {
        color: #00CC99;
    }
}

.footer {
    background-color: #F5F9FF;
}

.footer__wrap-logo {
    margin-right: 140px;
}

.footer__wrap {
    padding-top: 160px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__wrap-menu {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #333399;
    align-self: flex-start;

    & li {
        margin-bottom: 16px;
        cursor: pointer;
    }
}

.footer__wrap-social {
    align-self: flex-start;

    & ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: flex-start;
    }

    & li {
        margin-right: 25px;
        cursor: pointer;
    }

    & li:last-child {
        margin-right: 0px;
    }
    
}

.footer__rules {
    color: #333399;
    padding-bottom: 60px;

    & ul {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-left: -30px;
    }

    & li {
        padding-right: 60px;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
    }
}